<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body>
    <h1 th:text="${title}"></h1>

    <nav th:replace="fragments::navigation">

    </nav>

    <a th:unless="${cheeses.size() == 0}" href="/cheese/remove">Remove Cheese</a>

    <p th:unless="${cheeses} and ${cheeses.size()}">No Cheese!</p>

    <ul>
        <ul th:each="cheese : ${cheeses}">
            <li th:text="${cheese.key}"></li>
            <p th:text="${cheese.value}"></p>
        </ul>
    </ul>
</body>
</html>